<div class="container">
    <p>welcome {{name}}</p>
    <div> Manage  your Todo list <a routerLink='/todos'>here</a></div>
    
</div>
<!-- <div class="container">
    <p>click here to get a customized welcome message</p>
    <button class="btn btn-primary" (click)="getWelcomeMessage()">get Welcomed</button>
</div> -->
<div class="container">
    <button class="btn btn-primary" (click)="getWelcomeMessage()">get Welcome message</button>
    {{welcomeMessage}}
</div>
<div class="container">
    <button class="btn btn-success" (click)="getWelcomeMessageWithParam()">get Welcome message with parameter</button>
    {{welcomeMessage}}
</div>